<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.13.0/css/all.css">
	<link rel="stylesheet" href="/styles/global/global.css">
	<link rel="stylesheet" href="/styles/add/add.css" type="text/css">
	<script defer src="/reload/reload.js"></script>
	<title>Feedback tool</title>
</head>
<body>
	<div class="card">
        <p class="title">Type your name!</p>
        <input type="text" class="input" autofocus>
        <button class="button submitBtn">Join</button>
    </div>

    <script>
        let name;
        document.addEventListener('input', function (e) {
            name = e.target.value
        });
        document.querySelector('.submitBtn').addEventListener('click', addRoom)
        document.addEventListener('keyup', addRoomCheck)

        function addRoom() {
            if(name) {
                fetch('<%= process.env.URL %>/api/rooms',{
                    method: 'post',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({name})
                })
                .then(res => res.json())
                .then(res => {
                    window.location.pathname = `/room/${res.id}`
                })
            }
        }

        function addRoomCheck(e) {
            if(e.keyCode === 13) addRoom()
        }
    </script>
</body>
</html>