.container {
	padding-left: 10rem;
	padding-right: 10rem;
	padding-top: 3rem;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.title {
	text-align: center;
	font-weight: 500;
	font-size: 2rem;
	margin: 0;
	color: #212121;
}

.subtitle {
	text-align: center;
	font-weight: 300;
	font-size: 1.5rem;
	margin: 1rem;
	color: #515151;
}

.card {
	display: flex;
	flex-direction: column;
	align-content: center;
	margin: 3rem auto;
	padding: 1.5rem 1rem 1rem 1rem;
	width: 60%;
	max-width: 768px;
	max-height: 768px;
	background-color: white;
	box-shadow: 0 2px 10px rgba($color: #000000, $alpha: 0.03);
	border-radius: 5px;
	transition: all 0.3s;

	img {
		margin: 2rem;
		width: 60%;
		max-width: 100%;
		max-height: 100%;
		align-self: center;
	}

	.link {
		align-self: center;
		padding: 1rem 3rem 1rem 3rem;
		margin: 1rem 0;
		background-color: #515151;
		color: white;
		text-decoration: none;
		border-radius: 5px;
	}
}
