<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="styles/main/main.css">
	<script defer src="/reload/reload.js"></script> 
	<title>Feedback tool</title>
</head>
<body>
	<div class="header">
		<p class="title">My lists</p>
		<div class="button">Create new list</div>
	</div>
	<div class="cardContainer">
		<div class="card">
			<i class="fas fa-ellipsis-h"></i>
		</div>
		<div class="card"></div>
		<div class="card"></div>
		<div class="card"></div>
		<div class="card"></div>
		<div class="card"></div>
		<div class="card"></div>
		<div class="card"></div>
		<div class="card"></div>
		<div class="card"></div>
		<div class="card"></div>
	</div>
</body>
</html>