<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.13.0/css/all.css">
	<link rel="stylesheet" href="styles/global/global.css">
	<link rel="stylesheet" href="styles/notFound/notFound.css">
	<script defer src="/reload/reload.js"></script> 
	<title>Feedback tool</title>
</head>
<body>
	<div class="card">
		<p class="title">Sorry, there'e nothing here</p>
		<img src="public/notFound.svg" alt="Not found">
	</div>
</body>
</html>