<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Feedback tool</title>

		<link rel="stylesheet" href="/styles/global/global.css" />
		<link rel="stylesheet" href="/styles/room/room.css" />
	</head>
	<body>
		<script>
			const markReady = () => {
				fetch('http://localhost:8080/api/rooms/<%= room.id %>/ready', { method: 'PATCH' });
				document.getElementById('markReady').classList.push('tapped');
			};
		</script>
		<div class="wrapper">
			<div class="header">
				<p class="title">My lists</p>
				<button class="button" id="markReady" <%= room.ready ? 'disabled' : '' %> onclick="markReady()">Ready</button>
			</div>

			<div class="listsContainer" id="listsContainer">
				<% room.lists.forEach(function(list) { %>
				<div class="list">
					<h3 class="list__title"><%= list.title %></h3>
					<div class="notesContainer">
						<button class="button addNote">
							Add new note
						</button>
						<% list.notes.forEach(function(note) { %>
						<div class="note">
							<%= note %>
						</div>
						<%}) %>
					</div>
				</div>
				<%}) %>
			</div>
		</div>
	</body>
</html>
