body {
  line-height: 1.5;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 3rem;
  min-height: 100%;
  height: 100%;
}

.listsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  height: 100%;
  padding: 20px;
  margin-left: -20px;
}

.list {
  width: 330px;
  margin-right: 25px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: auto;
  padding: 6px;
  border-radius: 10px;
}

.list__title {
  font-size: 1.6rem;
  margin: 5px 0 20px;
  padding: 0 10px;
}

.notesContainer {
  max-height: calc(100% - 60px);
  overflow-y: auto;
  position: relative;
}

.note {
  background: white;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 6px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

.addNote {
  display: block;
  width: 100%;
  font-size: 14px;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin-bottom: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.addNote i {
  margin-left: 5px;
}

::-webkit-scrollbar {
  width: 7px;
  border-radius: 10px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
  background: #3750db;
  border-radius: 10px;
}

#markReady {
  -webkit-transition: all 0.3;
  transition: all 0.3;
}

#markReady:disabled {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-filter: grayscale(0.7);
          filter: grayscale(0.7);
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

textarea {
  resize: none;
  width: 100%;
  min-height: 6rem;
  padding-bottom: 3rem;
  border: none;
}

.buttons {
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.buttons > * {
  font-size: x-large;
  margin-left: 10px;
}

.buttons .thumbUp {
  color: #66DD66;
}

.buttons .thumbUp :hover {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0);
}

.buttons .thumbDown {
  color: #DD6666;
}

.accent {
  color: #3750db;
  font-weight: 900;
}

.rateBtnsContainer {
  padding: 0;
}

.rateBtnsContainer button {
  height: 40px;
  width: 50%;
  border: none;
  position: relative;
  z-index: 1;
  background: none;
}

.rateBtnsContainer button.positive::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, right top, left top, from(white), to(rgba(110, 214, 71, 0.5)));
  background-image: linear-gradient(to left, white, rgba(110, 214, 71, 0.5));
  z-index: -1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.rateBtnsContainer button.negative::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(230, 1, 1, 0.5)), to(white));
  background-image: linear-gradient(to left, rgba(230, 1, 1, 0.5), white);
  z-index: -1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.rateBtnsContainer button:hover::before {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */