<!DOCTYPE html>
<html lang="en">

	<body style="
			padding: 0;
			margin: 0;
			width: 720px;
			background-color: #EFEFEF;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
		">
		<div style="
				width: 100%;
				height: 100px;
				box-sizing: border-box;
				background-color: #ffffff;
				display: table;
				position: relative;
			">
			<span style="display: table; position: absolute; margin: auto 0; top: 0; bottom: 0; text-align: center;">
				<img src="<%= url %>/favicon.ico" style="width: 48px; height: 48px;"" />
				<p style=" font-size: 1.2rem; font-weight: 400; color: #515151; display: table-cell; vertical-align: middle;
					margin-block-end: 0; margin-block-start: 0; ">
					FeedbackTool
				</p>
			</span>
		</div>
		<p style=" font-size: 1.3rem; font-weight: 400; margin: 50px 20px; color: #515151; ">
			You have a new message from <%= email %>!
		</p>
		<div style=" font-size: 1rem; box-sizing: border-box; padding: 30px 20px; margin: 10px; background-color: #ffffff;
					box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05); color: #676767; ">
			<%= confirmLink %>
		</div>
	</body>

</html>