body {
	line-height: 1.5;
}

body,
.wrapper {
	min-height: 100vh;
}

.listsContainer {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	height: 100%;
	padding: 20px;
	margin-left: -20px;
}

.list {
	width: 330px;
	margin-right: 25px;
	flex-shrink: 0;
	height: auto;
	padding: 6px;
	border-radius: 10px;

	&__title {
		font-size: 1.6rem;
		margin: 5px 0 20px;
		padding: 0 10px;
	}
}

.notesContainer {
	max-height: calc(100% - 60px);
	overflow-y: auto;
	position: relative;
}

.note {
	background: white;
	padding: 10px 15px;
	font-size: 14px;
	border-radius: 6px;
	margin-bottom: 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	width: 100%;
}

.addNote {
	display: block;
	width: 100%;
	font-size: 14px;
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
	margin-bottom: 10px;
	position: sticky;
	top: 0px;

	i {
		margin-left: 5px;
	}
}

::-webkit-scrollbar {
	width: 7px;
	border-radius: 10px;
	height: 7px;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
	background: #3750db;
	border-radius: 10px;
}
